main {
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    49deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(48, 56, 219, 0.9376498800959232) 55%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main {
  width: 100vw;
  height: 200vh;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container {
  top: 20px;
  margin: auto;
  position: absolute;
  text-align: center;
  justify-content: center;
  height: 170vh;
  width: 60%;
  background-color: rgb(43, 123, 170);
  border-radius: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    49deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(69, 163, 237, 0.9376498800959232) 77%,
    rgba(0, 212, 255, 1) 100%
  );
}
#titulo {
  border-radius: 20px;
  font-size: 3rem;
  color: rgb(18, 32, 44);
  padding: 30px;
  margin-bottom: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    20deg,
    rgba(2, 0, 36, 0.11) 5%,
    rgba(48, 56, 219, 0.9376498800959232) 55%,
    rgba(0, 212, 255, 1) 100%
  );
}
.filas {
  display: flex;
  flex-direction: column;
}
.filas iframe {
  display: flex;
  margin: auto;
  height: 100px;
  width: 300px;
  border-radius: 5px;
  border-color: black;
  align-items: center;
  text-align: center;
  justify-content: center;
}
img {
  justify-items: end;
  width: 10%;
}
.geral{
}
.filas h3 {
  margin-top: 20px;
}
